* {
    margin: 0;
}

header h1 {
    background: rgb(249, 227, 153);
    padding: 2rem;
    text-align: center;
}

header li {
    width: 25%;
    list-style: none;
    float: left;
    text-align: center;
}

header li a {
    display: block;
    text-decoration: none;
}
header li a:hover {
    background: rgb(249, 227, 153);
}
